<section class="primary wp" id="blog">
	
	<header>
		
		<div class="row">
			<div class="column">
					<h3>Recent Blog Posts</h3>
					<p class="subhead"><a class="bloglink" href="http://blog.starkandwayne.com">blog.starkandwayne.com</a></p>
			</div>
		</div>
		
	</header>
	
	<div class="post">
		<div class="row align-center">
			<div class="small-10 medium-8 columns">
				<article class="first">
					<h4>CF Summit 2016 Training Day</h4>
					<small class="author">Chris Weibel</small>
					<p>Cloud Foundry for Beginners: From Zero to Superhero—
					Join us for a hands-on training workshop to learn about deploying and managing applications on Cloud Foundry. We will give an overview of Cloud Foundry and how…</p>
				</article>
			</div>
		</div>
	</div>	
	<div class="post">	
		<div class="row align-center">
			<div class="small-10 medium-8 columns">
				<article>
					<h4>What process is failing in my BOSH deployment?</h4>
					<small class="author">Dr. Nic </small>
					<p>Cloud Foundry for Beginners: From Zero to Superhero—
					The result of running bosh deploy might be unfortunately failing. The output will show which jobs (VMs) did not successfully run by the end of the timeout period. We can use the BOSH API to…</p>
				</article>
			</div>
		</div>
	</div>
	
	
	
</section>