<section class="primary wp" id="clients">
	<div class="shield-scrollr"></div>
	
	<header>
		<div class="row">
			<div class="column">
				<h4>We’ve Helped These Companies Build Amazing Things</h4>
			</div>
		</div>
	</header>
	
	<div class="row align-center">
		<div class="small-6 medium-3 columns">
			<div class="client">
				<img src="./assets/img/clients/att.png" alt="Att">
			</div>
		</div>
		
		<div class="small-6 medium-3 columns">
			<div class="client">
				<img src="./assets/img/clients/zipcar.png" alt="ZipCar">
			</div>
		</div>
		
		<div class="small-6 medium-3 columns">
			<div class="client">
				<img src="./assets/img/clients/warnermusic.png" alt="Warner Music">
			</div>
		</div>
		
		
		
		
		
	</div>
	
	<!-- row 2 -->
	
	<div class="row align-center">
		
		<div class="small-6 medium-3 columns">
			<div class="client">
				<img src="./assets/img/clients/sap.png" alt="SAP">
			</div>
		</div>
		
		<div class="small-4 medium-3 columns">
			<div class="client">
				<img src="./assets/img/clients/pivitol.png" alt="Pivitol">
			</div>
		</div>
		
		<div class="small-6 medium-3 columns">
			<div class="client">
				<img src="./assets/img/clients/emc2.png" alt="EMC2">
			</div>
		</div>
		
		
		
		
	</div>
	
	
	<!-- row 3 -->
	<div class="row align-center">
		
		<div class="small-6 medium-3 columns">
			<div class="client">
				<img src="./assets/img/clients/cisco.png" alt="Cisco">
			</div>
		</div>
		
		<div class="small-6 medium-3 columns">
			<div class="client">
				<img src="./assets/img/clients/swisscom.png" alt="Swisscom">
			</div>
		</div>
		
		<div class="small-6 medium-3 columns">
			<div class="client right">
				<img src="./assets/img/clients/intel.png" alt="Intel">
			</div>
		</div>
		
		
	</div>
	
</section>