<section class="primary wp" id="contact">

	<div class="row large-unstack">
		<div class="column small-order-2 medium-order-1">

			<div class="row align-center">

				<div class="small-12 columns">


					<h4>Locations</h4>

					<div class="map-wrapper hide-for-small">
						<div id="swMap"></div>
					</div>


					<!--Locations-->

					<div class="row medium-unstack">

						<div class="columns">

							<span class="continent">North America</span>

							<div class="location-item" data-marker="1">
								<strong>US Nor Cal</strong><br>
								Palo Alto, CA 90034<br>
								<div class="marker-icon"></div>
							</div>

							<div class="location-item" data-marker="8">
								<strong>US So Cal</strong><br>
								Los Angeles, CA 94303<br>
								<div class="marker-icon"></div>
							</div>

							<div class="location-item" data-marker="2">
								<strong>US North East</strong><br>
								10 John James Audubon Pkwy<br>
								Buffalo, NY 14228
								<div class="marker-icon"></div>
							</div>

							<div class="location-item" data-marker="3">
								<strong>US Mid West</strong><br>
								Macomb, MI 48042
								<div class="marker-icon"></div>
							</div>

							<div class="location-item" data-marker="4">
								<strong>Canada</strong><br>
								Vancouver, BC V9Y 7L4
								<div class="marker-icon"></div>
							</div>



						</div>

						<div class="columns">
							<span class="continent">Europe</span>

							<div class="location-item" data-marker="5">
								<strong>Germany</strong><br>
								Berlin, Germany 10117
								<div class="marker-icon"></div>
							</div>

							<div class="location-item" data-marker="6">
								<strong>United Kingdom</strong><br>
								Skipton, England BD23
								<div class="marker-icon"></div>
							</div>

							<span class="continent">Australia</span>

							<div class="location-item" data-marker="7">
								<strong>Australia</strong><br>
								Brisbane, Queensland 4069
								<div class="marker-icon"></div>
							</div>
						</div>
					</div>


					<!--Locations-->


				</div>

			</div>

		</div>
		<!-- forms-->
		<div class="column small-order-1 medium-order-2 ">

			<div class="row align-center">


				<div class="small-12 columns">

					<div class="contact-form blue-bg">

						<h4>Contact</h4>

						<!--form-->

						<form id="contactForm">

							<label>Name
								<input type="text" placeholder="First Name" name="name">
							</label>

							<label>Email
								<input type="email" placeholder="your@email.com" name="email">
							</label>

							<label>
								How can Stark &amp; Wayne help your team?
			  					<textarea id="comments" placeholder="Questions / Comments?" rows="5" name="comments"></textarea>
			  				</label>

			  				<input type="submit" value="Submit" id="contactSubmit">

						</form>

						<div class="responseMsg blue-bg" id="responseDisplay">
							<div class="center-me">
								<h4 id="msgHead">Contact</h4>
								<p id="msgBody">asdasd</p>
							</div>
						</div>


					</div>


				</div>


<!--
				<div class="small-12 columns">

					<div class="newsletter blue-bg">

						<h4>Newsletter</h4>



						<form id="newsletterForm">


							<label>Email
								<input type="email" placeholder="your@email.com">
							</label>


			  				<input type="submit" value="Sign Up" id="newsletterSubmit">

						</form>

					</div>

				</div>
-->


			</div>

		</div>
	</div>


	<footer>
		<div class="row medium-unstack">
			<div class="column footer-logo">
				<img src="./assets/img/sw_footer_logo.svg" alt="Stark and Wayne">
			</div>

			<div class="column">
				<span class="footer-links"> <a href="mailto:beahero@starkandwayne.com">beahero@starkandwayne.com</a>  |  <a href="4158602185">Phone: +1 (415) 860 2185</a></span>
			</div>

			<div class="column">
				<small class="legal">&copy;2016 Stark &amp; Wayne | All Rights Reserved</small>
			</div>
		</div>
	</footer>


</section>
