<section class="primary wp" id="opensrc">
	
	<header>
		
		<div class="row">
			<div class="column">
					<h3>Open Source Projects</h3>
					<p class="subhead">Stark & Wayne is one of the Top 5 open source contributors to Cloud Foundry.</p>
			</div>
		</div>
		
	</header>
	
	
	<div class="oss-item" data-projectname="shield">
		<div class="row align-left">
			
			<div class="small-12 medium-2 columns">
				<img src="./assets/img/oss/oss_shield_icon.svg" alt="Sheild">
			</div>
			
			<div class="column">
				<span class="oss-title">Shield</span>
				<p>Shield provides a single solution and interface for managing the backing up of core CF  as well as all BOSH deployed services.  Shield is a lightweight low impact daemon which enables you to quickly have a fully functional DR plan implemented for your CF and BOSH deployments.</p>
				<a href="https://github.com/starkandwayne/shield" target="_blank">View on GitHub</a>
			</div>
			
		</div>
	</div>
	
	<div class="oss-item" data-projectname="spruce">
		<div class="row align-left">
			
			<div class="small-12 medium-2 columns">
				<img src="./assets/img/oss/oss_spruce_icon.svg" alt="Spruce">
			</div>
			
			<div class="column">
				<span class="oss-title">Spruce</span>
				<p>Spruce is a domain-specific YAML merging tool, for generating BOSH manifests.  It was written with the goal of being the most intuitive solution for merging BOSH templates. As such, it pulls in a few semantics that may seem familiar to those used to merging with the other merging tool, but there are a few key differences.</p>
				<a href="https://github.com/geofffranks/spruce" target="_blank">View on GitHub</a>
			</div>
			
		</div>
	</div>
	
	<div class="oss-item" data-projectname="concourse">
		<div class="row align-left">
			
			<div class="small-12 medium-2 columns">
				<img src="./assets/img/oss/oss_concourse_icon.svg" alt="Concourse Tutorial">
			</div>
			
			<div class="column">
				<span class="oss-title">Concourse Tutorial</span>
				<p>Learn to use <a href="http://concourse.ci" target="_blank">Concourse</a> with this series of tutorials. Each next concept builds on the previous.</p>
				<a href="https://github.com/starkandwayne/concourse-tutorial" target="_blank">View on GitHub</a>
			</div>
			
		</div>
	</div>
	
	<div class="oss-item" data-projectname="boshgen">
		<div class="row align-left">
			
			<div class="small-12 medium-2 columns">
				<img src="./assets/img/oss/oss_boshgen_icon.svg" alt="BOSHGen">
			</div>
			
			<div class="column">
				<span class="oss-title">BOSH Gen</span>
				<p>Generators for BOSH releases.</p>
				<a href="https://github.com/cloudfoundry-community/bosh-gen" target="_blank">View on GitHub</a>
			</div>
			
		</div>
	</div>
	
	
</section>