<section class="primary wp" id="solutions">
	
	<header>
		<h3>Solutions</h3>
		<p class="subhead">Partner with us and be up and running with all the experience you need right from the start</p>
	</header>
	
	<div class="row align-center">
		
			
			<div class="small-12 medium-6 large-4 columns">
				
				<div class="solution">
					<div class="solution-icon platformops"></div>
					<h4>Platform Ops</h4>
					<p>Cupcake ipsum dolor sit amet toffee cake cake I love. I love bear claw jelly beans pastry wafer marshmallow chupa chups oat cake I love. Soufflé I love jelly beans macaroon.</p>
				</div>
				
			</div>
			
			<div class="small-12 medium-6 large-4 columns">
				
				<div class="solution">
					<div class="solution-icon pipelining"></div>
					<h4>Pipelining</h4>
					<p>We run over two dozen production pipelines for our OSS and customer projects ensuring that their CI processes continue running smoothly throughout the entire lifecycle of their applications. We’ll help you migrate your current CI setup to the most effective and scalable CI system, Concourse.</p>
				</div>
				
			</div>
			
			<div class="small-12 medium-6 large-4 columns">
				
				<div class="solution">
					<div class="solution-icon orch"></div>
					<h4>Orchestration</h4>
					<p>Properly orchestrating multiple applications or services into a manageable, easy-to-maintain integration is something we’re extremely adept at. Add us to your team and discover how simple orchestrating complex automated processes can be.</p>
				</div>
				
			</div>
			
			<div class="small-12 medium-6 large-4 columns">
				
				<div class="solution">
					<div class="solution-icon disaster"></div>
					<h4>Disaster<br>Recovery</h4>
					<p>No matter how hard you work to make sure your application, databases or platform is bulletproof, the possibility that part or all of it will fail still looms. If or when it does, we can help get you up running again with as little downtime as possible.</p>
				</div>
				
			</div>
			
			<div class="small-12 medium-6 large-4 columns">
				
				<div class="solution appdev">
					<div class="solution-icon appdev"></div>
					<h4>App Development</h4>
					<p>Since 2012 we’ve helped our clients deploy over 5,000 applications across their enterprise. We can help you deploy your apps faster than you ever thought possible using the languages you already know and love.</p>
				</div>
				
			</div>
		
	
	</div>
	
	
	
</section>