<div class="desktop-nav">
	<nav id="sw-main-nav" role="navigation">

			<span class="logo-wrap">
				<img src="assets/img/sw_header_logo.svg" width="158px" alt="stark and wayne">
			</span>
			<div class="sw-main-nav-item active" data-scrollto="home"> <a href="#"><div class="bullet"><span></span></div> <span class="sw-main-nav-item-txt">Intro</span> </a> </div>
			<div class="sw-main-nav-item" data-scrollto="clients"> <a href="#"><div class="bullet"><span></span></div> <span class="sw-main-nav-item-txt">Clients</span> </a> </div>
			<div class="sw-main-nav-item" data-scrollto="technology"> <a href="#"><div class="bullet"><span></span></div> <span class="sw-main-nav-item-txt">Technology</span> </a> </div>
			<div class="sw-main-nav-item" data-scrollto="solutions"> <a href="#"><div class="bullet"><span></span></div> <span class="sw-main-nav-item-txt">Solutions</span> </a> </div>
			<div class="sw-main-nav-item" data-scrollto="opensrc"> <a href="#" ><div class="bullet"><span></span></div> <span class="sw-main-nav-item-txt">Open Source</span> </a> </div>
			<div class="sw-main-nav-item" data-scrollto="contact"> <a href="#"><div class="bullet"><span></span></div> <span class="sw-main-nav-item-txt">Contact</span> </a> </div>

			<div class="sw-main-nav-item blog" data-scrollto="blog">
				<a href="#"><div class="bullet">
				<svg id="Menu" xmlns="http://www.w3.org/2000/svg"  width="21.57" height="16.24">

				  <path id="shieldFiller" d="M49.12,221.73a14.09,14.09,0,0,0-2.61-1.2,23.33,23.33,0,0,0-7.88-1.39h0a23.34,23.34,0,0,0-7.88,1.39,14.18,14.18,0,0,0-2.61,1.2L28,221.8s0,0.09,0,.13a14.87,14.87,0,0,0,1.26,6.27,11.94,11.94,0,0,0,4.14,4.68,18.18,18.18,0,0,0,5.22,2.34h0a18.2,18.2,0,0,0,5.22-2.34A12,12,0,0,0,48,228.2a14.89,14.89,0,0,0,1.25-6.27s0-.09,0-0.13Z" transform="translate(-27.66 -219.13)"/>
				  <path id="shieldBorder"  d="M38.18,221.13a20.71,20.71,0,0,1,7.09,1.27c0.56,0.21,1,.41,1.36.57a12.53,12.53,0,0,1-1,4.44,10,10,0,0,1-3.42,3.94,15.28,15.28,0,0,1-4,1.92,15.26,15.26,0,0,1-4-1.92,10,10,0,0,1-3.42-3.94,12.52,12.52,0,0,1-1-4.44c0.35-.17.8-0.36,1.36-0.57a20.72,20.72,0,0,1,7.09-1.28h0m0-2h0a22.65,22.65,0,0,0-7.79,1.4,13.89,13.89,0,0,0-2.58,1.21l-0.11.07s0,0.09,0,.13a15.29,15.29,0,0,0,1.24,6.33A12,12,0,0,0,33,233a17.8,17.8,0,0,0,5.16,2.37h0A17.82,17.82,0,0,0,43.33,233a12,12,0,0,0,4.09-4.73,15.31,15.31,0,0,0,1.24-6.33s0-.09,0-0.13l-0.11-.07A13.81,13.81,0,0,0,46,220.53a22.65,22.65,0,0,0-7.79-1.4h0Z" transform="translate(-27.66 -219.13)"/>
				</svg>
				</div>
				<span class="sw-main-nav-item-txt">Blog</span>
				</a>
			</div>

			<div class="sw-main-nav-item external">
				<ul class="external-site-links">
					<li><a href="http://github.com/starkandwayne" target="blank" class="github"></a></li>
					<li><a href="http://twitter.com/starkandwayne" target="_blank" class="twitter"></a></li>
					<li><a href="https://www.starkandwayne.com/videos/" target="_blank" class="youtube"></a></li>
				</ul>
			</div>
	</nav>
</div>
