<div class="off-canvas-nav-wrap">
	
	<div class="logo-shield">
		<img src="assets/img/sw_header_logo.svg" alt="SW Logo">
	</div>
	
	<nav role="navigation" id="mobile-nav">
		<ul>
			<li><a href="#" data-scrollto="home">Intro</a></li>
			<li><a href="#" data-scrollto="clients">Clients</a></li>
			<li><a href="#" data-scrollto="technology">Technology</a></li>
			<li><a href="#" data-scrollto="solutions">Solutions</a></li>
			<li><a href="#" data-scrollto="opensrc">Open Source</a></li>
			<li><a href="#" data-scrollto="contact">Contact</a></li>
			<li><a href="#" data-scrollto="blog">Blog</a></li>
			<li>
				<ul class="external-site-links">
					<li><a href="http://github.com/StarkAndWayne" target="blank" class="github"></a></li>
					<li><a href="http://twitter.com/StarkAndWayne" target="_blank" class="twitter"></a></li>
					<li><a href="http://www.youtube.com/user/StarkAndWayne" target="_blank" class="youtube"></a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>