<section class="primary wp" id="technology">
	
	<header>
		
		<div class="row">
			<div class="column">
						<h3>Technology</h3>
				<p class="subhead">The right tools make all the difference.</p>
			</div>
		</div>
		
	</header>
	
	<!-- tiles -->



	<div class="row">
		
		<!-- cloud foundry -->
		<div class="small-12 large-6 columns big-tile">
			<div class="tech-item">
				
				<div class="inner">
					<img src="./assets/img/technology/cloudfoundry.png" alt="Cloud Foundry" class="cflogo">
					<p>As one of the largest contributors to the project, we’re dedicated to educating the world about the power of Cloud Foundry, platform-as-a-service (PaaS) and how it will transform the way apps are developed, deployed, run and managed.</p>
					<a href="http://cloudfoundry.org" target="_blank">&lt; cloudfoundry.org &gt;</a>
				</div>
				
			</div>
		</div>
		<!-- cloud foundry -->
		
		<!-- BOSh and stuff -->
		<div class="small-12 large-6 columns big-tile">
			
			<div class="row">
				<!--COLUMN1-->
				
				<div class="small-12 medium-6 columns small-tiles-1">
					<div class="tech-item">
						<div class="inner">
							<img src="./assets/img/technology/tech_logo_bosh.png" alt="BOSH">
							<p>BOSH gives your developers a unified solution to manage the release, deployment, and lifecycle of small and large-scale cloud software. We’ll get your team up and running with BOSH quickly they can focus on what really matters, delivering fantastic software.</p>
							<a href="http://bosh.io" target="_blank">&lt; bosh.io &gt;</a>
						</div>
					</div>
				</div>
				<!--CoLUMN2-->
				<div class="small-12 medium-6 columns small-tiles-1">
					<div class="tech-item">
						<div class="inner">
							<img src="./assets/img/technology/tech_logo_concourse.png" alt="Concourse">
							<p>
								Depending on the size of your project switching CI software can turn into a huge investment of both time and money. Concourse decouples your project from your existing CI's quirks by eliminating as many moving parts as possible while introducing pipelines that scale with your project.
							</p>
							<a href="http://concourse.ci" target="_blank">&lt; councourse.ci &gt;</a>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="row pushdown">
				<!--COLUMN1-->
				
				<div class="small-12 medium-6 columns small-tiles-2">
					<div class="tech-item">
						<img src="./assets/img/technology/tech_logo_spring.png" alt="Spring">
						<p>Spring helps development teams everywhere build simple, portable,  fast and flexible JVM-based systems and applications.</p>
						<a href="http://spring.io" target="_blank">&lt; spring.io &gt;</a>
					</div>
				</div>
				<!--CoLUMN2-->
				<div class="small-12 medium-6 columns small-tiles-2">
					<div class="tech-item">
						<img src="./assets/img/technology/tech_logo_dingo.png" alt="dingo">
						<p>
							Production building blocks for Cloud Native applications.
						</p>
						<a href="http://dingotiles.com" target="_blank">&lt; dingotiles.com &gt;</a>
					</div>
				</div>
			</div>
			
			
			
		</div>
		<!--BOSH and Stuff-->
		
	</div>

	<!--end tiles-->
				
			
</section>